<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
</head>
<body>
    
    <div class="wrapper">
        
        <div class="header">
            <h1>
                <a href="index">
                Atmiņas spēle
                </a>
            </h1>

            <ul>
                <li>
                    <a href="spele">
                    Spēle
                    </a>
                </li>
                <li>
                    <a href="pspele">
                    Pielāgota Spēle
                    </a>
                </li>
                <li>
                    <a href="top">
                    Tops
                    </a>
                </li>
                <li>
                    <a href="par">
                    Par autoru
                    </a>
                </li>
            </ul>
        </div><!--beidzas header-->

		
		
        <div class="content">
            <h3 class="virsraksts"></h3>
            <p>Noteikumu teksts</p>

            <div class="game">
				<div class="block" id="L10" onClick="veiktGajienu('L10')">
					<div>😀</div>
				</div>
                <div class="block" id="L11" onClick="veiktGajienu('L11')">
					<div>🤡</div>
				</div>
				<div class="block" id="L12" onClick="veiktGajienu('L12')">
					<div>😺</div>
				</div>
				<div class="block" id="L13" onClick="veiktGajienu('L13')">
					<div>🎃</div>
				</div>
				<div class="block" id="L14" onClick="veiktGajienu('L14')">
					<div>😺</div>
				</div>
				<div class="block" id="L15" onClick="veiktGajienu('L15')">
					<div>🤖</div>
				</div>
				<div class="block" id="L16" onClick="veiktGajienu('L16')">
					<div>😀</div>
				</div>
				<div class="block" id="L17" onClick="veiktGajienu('L17')">
					<div>🎃</div>
				</div>
				<div class="block" id="L18" onClick="veiktGajienu('L18')">
					<div>🤖</div>
				</div>
				<div class="block" id="L19" onClick="veiktGajienu('L19')">
					<div>👽</div>
				</div>
				<div class="block" id="L20" onClick="veiktGajienu('L20')">
					<div>👽</div>
				</div>
				<div class="block" id="L21" onClick="veiktGajienu('L21')">
					<div>🤡</div>
				</div>
				
            </div>
        </div>

    </div><!--beidzas wrapper-->

	<script src="static/js/script.js"></script>
	
</body>
</html>