<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmiņas spēle</title>
</head>
<body>
    
    <div class="wrapper">
        
        <div class="header">
            <h1>
                <a href="index">
                Atmiņas spēle
                </a>
            </h1>

            <ul>
                <li>
                    <a href="spele">
                    Spēle
                    </a>
                </li>
                <li>
                    <a href="pspele">
                    Pielāgota Spēle
                    </a>
                </li>
                <li>
                    <a href="top">
                    Tops
                    </a>
                </li>
                <li>
                    <a href="par">
                    Par autoru
                    </a>
                </li>
            </ul>
        </div><!--beidzas header-->

		
		
        <div class="content">

            <h3 class="virsraksts">Tops</h3>
            <button onclick="pievienotTop()">Pievienoties topam</button>
            <hr />


            <table class="tops">
                <tr>
                    <td>Spēlētājs</td><td>Skola</td><td>Vecums</td><td>Laiks</td><td>Klikšķi</td><td>Datums</td>
                </tr>
            </table>


        </div>

    </div><!--beidzas wrapper-->

    <script src="static/js/script_top.js"></script>
	
</body>
</html>